body {
  background-color: #0f111d;
  margin: 0;
  font-family: "Courier New", serif;
  color: #dddddd;
  height: 100vh;
}

li {
  list-style: none;
}

#landing {
  width: 50%;
  margin: 0 auto;
  margin-top: 50vh;
  transform: translateY(-50%);
}

h1 {
  color: #d66767;
  font-size: 3.5em;
  margin: 0;
}

#loginDisplay h1 {
  font-size: 2.5em;
  margin-left: 10px;
}

.sidebar {
  width: 20rem;
  display: inline-block;
  height: 100%;
  position: fixed;
  padding: 1rem;
  box-sizing: border-box;
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

li {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  color: rgb(236, 230, 225);
  cursor: pointer;
  min-height: 1.5em;
}

li:hover {
  background-color: #d66767;
  color: #0f111d;
}

a {
  color: #d66767;
  cursor: pointer;
  margin: 1rem;
}

.btn {
  background-color: rgb(236, 230, 225);
  padding: 5px;
  text-decoration: none;
  color: #1a1b41;
  cursor: pointer;
  transition: opacity 0.5s ease;
  opacity: 1;
}

a:hover {
  opacity: 0.5;
}

.explanation {
  margin-top: 0;
  font-style: italic;
}

canvas {
  width: 200px;
}
.bold {
  font-weight: bold;
}

.explanation {
  padding-left: 20px;
}

.under {
  text-decoration: underline;
}

#statsOutput {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  margin-left: 20rem;
}