@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
}

body {
  background-color: #0f111d;
  font-family: "Courier New", serif;
  color: #ece6e1;
}

li {
  list-style: none;
}

#landing {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50rem;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  color: #d66767;
  font-size: 3.5em;
  font-family: Montserrat;
  margin-bottom: 0.25rem;
}

.full {
  flex: 0 0 calc(100% - 2rem);
}

.btn {
  background-color: #a2f5b7;
  font-family: 'Montserrat';
  padding: 0.5rem;
  text-decoration: none;
  color: #0f111d;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-top: 1rem;
  position: absolute;
}

.btn:hover {
  background-color: #ece6e1;
}

.sidebar {
  width: 16rem;
  height: 100%;
  position: fixed;
  background-color: #1a1b41;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #d66767;
  font-size: 2em;
  font-family: Montserrat;
  margin: 0.6rem auto;
}

ul {
  list-style-position: inside;
  margin: 0;
  overflow-y: scroll;
  height: 100%;
  background-color: #313264;
  padding: 0.5rem 0;
}

li {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.16rem 1rem;
}

li:hover {
  background-color: #424380;
}

#footer {
  padding: 0.5rem 1rem;
  background-color: #424380;
  font-family: Montserrat;
}

#pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.pagBtn {
  color: #0f111d;
  cursor: not-allowed;
}

.active {
  cursor: pointer;
  color: #a2f5b7;
}

#pageCount {
  text-align: center;
}

#hasToken {
  display: flex;
}

#statsOutput {
  vertical-align: top;
  margin-left: 16rem;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  flex-grow: 1;
}

h3 {
  font-size: 3rem;
  font-family: 'Montserrat';
}

#select { 
  text-align: center;
  margin-top: 48vh;
}

.graphBlock {
  background-color: #313264;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  word-wrap: break-word;
  flex-grow: 1;
  width: 25rem;
}

.chartLabel {
  margin-bottom: 1rem;
}

.stat {
  margin-bottom: 1rem;
}

#numStats {
  background-color: #313264;
  border-radius: 1rem;
  padding: 1rem 1rem 0.5rem;
}

#statsContainer { 
  background-color: #1a1b41;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.75rem 0 1.5rem;
}

#graphContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.explanation {
  margin-top: 0;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.explanation {
  padding-left: 20px;
}

.under {
  text-decoration: underline;
}
