.PlaylistSidebar {
  background-color: #aed;
  display: inline-block;
  height: 100vh;
  width: 20%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer;
}